@import "tailwindcss";

@theme {
  --color-linear-background: linear-gradient(90deg,rgba(27, 36, 19, 1) 0%, rgba(0, 0, 0, 1) 50%);
  --color-background: #000000;
  --color-foreground: #dedfdc;
  --color-primary: #9de952;
}

body {
  background: var(--color-linear-background);
  color: var(--color-foreground);
}

.container {
  @apply w-full max-w-[1400px] min-h-screen mx-auto;
}

.responsiveFlex {
  @apply flex flex-col items-center justify-center md:flex-row;
}

.title {
  @apply text-3xl font-semibold bg-clip-text text-transparent bg-gradient-to-br from-[#9de952] to-[#dedfdc];
}