@import "tailwindcss";

@theme {
  --color-linear-background-left: linear-gradient(90deg,rgba(27, 36, 19, 1) 0%, rgba(0, 0, 0, 1) 50%);
  --color-linear-background-top: linear-gradient(180deg,rgba(27, 36, 19, 1) 0%, rgba(0, 0, 0, 1) 50%);
  --color-background: #000000;
  --color-foreground: #dedfdc;
  --color-foreground-secondary: #9ea495;
  --color-primary: #9de952;
}

body {
  background: var(--color-linear-background-left);
  color: var(--color-foreground);
}

@media (max-width: 768px) {
  body {
    background: var(--color-linear-background-top);
  }
}

.container {
  @apply w-full max-w-[1400px] min-h-screen mx-auto px-4 md:px-10;
}

.responsiveFlex {
  @apply flex flex-col items-center justify-center md:flex-row;
}

.title {
  @apply text-3xl md:text-5xl font-semibold bg-clip-text text-transparent bg-gradient-to-br from-foreground-secondary via-foreground to-foreground-secondary leading-tight;
}